@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.contactPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.contactTitle {
    font-size: 5rem;
}

.emailContact {
    font-size: 3rem;
    border: 1px solid #333333;
    border-radius: 8px;
    color: #333333;
    cursor: pointer;
    text-align: center;
    padding: 4px 20px;
    font-weight: bold;
    margin-top: 1%;
    font-family: 'branch';
}

.emailContact:hover {
    background: #333333;
}