@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

.resumeSection {
    font-family: 'Raleway',
    sans-serif;
    font-size: 0.85rem;
}

.resumeContainer {
    max-width: 75rem;
    margin: auto;
}

.resumeName {
    font-size: 3.5rem;
    margin-top: 5%;
    letter-spacing: 1rem;
}

.resumeTitle {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
}

.subheadings {
    letter-spacing: 0.3rem;
    font-size: 1rem;
    border-bottom: 1px solid black;
    padding-bottom: 1.5%;
}

.resumeArea {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.columnOne {
    width: 30%;
    border-right: 1px solid black;
    padding-right: 3%;
}

.columnTwo {
    width: 70%;
    margin-left: 2%;
}

.contactIcons,
.contactText {
    list-style-type: none;
    padding: 0;
}

.resumeIcons {
    width: 10%;
}

.contactStyling {
    display: flex;
}

h4 {
    letter-spacing: .10rem;
}

.educationText {
    letter-spacing: 0.1rem;
    margin: 0;
}

.jobBulletPoints {
    list-style-type: disc;
    margin: 0;
}

.jobHistory {
    display: flex;
    font-weight: bold;
}

.companyNameCityName {
    border-right: 1px solid black;
    padding-right: 1%;
    margin: 0;
}

.year {
    margin: 0 1%;
}

.projectTitle {
    margin: 0;
    margin-top: 3%;
}

.jobTitle {
    margin: 0;
}

.subheadings {
    padding-top: 1%;
}