@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

.resumeSection {
    font-family: 'Raleway',
    sans-serif;
}

.resumeName {
    font-size: 3.5rem;
    margin-top: 5%;
    letter-spacing: 1rem;
}

.resumeTitle {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
}

.subheadings {
    letter-spacing: 0.3rem;
    font-size: 1rem;
    border-bottom: 1px solid black;
    padding-bottom: 1.5%;
}

.resumeArea {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.columnOne {
    width: 30%;
    height: 100vh;
    border-right: 1px solid black;
    padding-right: 3%;
}

.columnTwo {
    width: 70%;
    margin-left: 2%;
}

ul {
    list-style-type: none;
}

.resumeIcons {
    width: 7%;
}

.contactStyling {
    display: flex;
}

.skillsText {
    font-size: 0.85rem;
}

h4 {
    letter-spacing: .15rem;
    font-size: 0.85rem;
}