@import '../styles/base';

.cardContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.projectDetailsCard {
    border: 1px solid $dark-charcoal;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    font-family: $raleway-font;
    background: $linen;
    height: 100%;
}

.gitHubLinks {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.projectImage {
    width: 100%;
    border-radius: 8px;
    height: 20rem;
    object-fit: cover;
}

.projectTitle {
    font-size: 3rem;
}

.projectLinks {
    color: $dark-charcoal;
    border: 1px solid $dark-charcoal;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px 25px;
    font-weight: bold;
}

.projectLinks:hover {
    background: $dark-charcoal;
    color: $linen;
}

@media screen and (min-width: 769px) and (max-width: 1024px) { 
    .projectTitle {
        font-size: 2.5rem;
    }

    .projectLinks {
        padding: 12px 18px;
        font-size: 0.8rem;
    }

    .projectImage {
        height: 15rem;
    }
}


@media screen and (min-width: 376px) and (max-width: 768px) {
    .cardContainer {
        margin: auto;
        width: 22rem;
    }

     .projectTitle {
         font-size: 2rem;
     }

     .projectLinks {
         padding: 12px 18px;
         font-size: 0.8rem;
     }

     .projectImage {
         height: 15rem;
     }
}

@media screen and (max-width: 375px) {
    .projectTitle {
        font-size: 2rem;
    }

    .projectLinks {
        padding: 12px 18px;
        font-size: 0.8rem;
    }

    .projectImage {
        height: 15rem;
    }
}