@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.cardContainer {
    display: flex;
    flex-direction: column;
}

.projectDetailsCard {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: 'Montserrat',
    sans-serif;
    background: #FDFBF5;
    height: 100%;
}

.gitHubLinks {
    display: flex;
    justify-content: space-evenly;
}

.projectImage {
    width: 100%;
}

.projectTitle {
    font-size: 3rem;
    margin: 0;
}