@import '../styles/base';

.navbar {
    display: grid;
    min-height: 3rem;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    background: $dark-charcoal;
    color: $linen;
    font-family: $raleway-font;
    position: fixed;
    width: 100%;
}

.icon {
    width: 100%;
}

.navItems {
    display: flex;
    list-style-type: none;
    color:$linen;
    font-weight: bold;
}

.iconsContainerLeft {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $linen;
    width: 20%;
    margin-left: 2rem;
}

.navContainerRight {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color:$linen;
}

.navLinks {
    margin-left: 2rem;
}

.hidden {
    display: none;
}

@media screen and (max-width: 550px) {
    .iconsContainerLeft,
    .navContainerRight {
        display: none;
    }

    .hamburgerMenu {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        margin-right: 2rem;
        display: block;
        padding: 1rem;
        font-size: 1.5rem;
    }
}