@import '../styles/base';

.navbar {
    display: grid;
    min-height: 3rem;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    background: $dark-charcoal;
    color: $linen;
    font-family: $raleway-font;
    position: fixed;
    width: 100%;
}

.icon {
    width: 100%;
}

.navItems {
    display: flex;
    list-style-type: none;
    color:$linen;
    font-weight: bold;
}

.iconsContainerLeft {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $linen;
    width: 20%;
    margin-left: 2rem;
}

.navContainerRight {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color:$linen;
}

.navLinks {
    margin-left: 2rem;
}

.hidden {
    display: none;
}

@media screen and (max-width: 550px) {
    .iconsContainerLeft,
    .navContainerRight {
        display: none;
    }

    .hamburgerMenu {
        display: block;
        padding: 1rem;
        /* position: relative; */
        /* top: 50px; */
        /* left: 50px; */
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    .hamburgerMenu a {
        text-decoration: none;
        color: $linen;

        transition: color 0.3s ease;
    }

    // .hamburgerMenu a:hover {
    //     color: tomato;
    // }

    .hamburgerMenu input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    .hamburgerMenu span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: $linen;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    .hamburgerMenu span:first-child {
        transform-origin: 0% 0%;
    }

    .hamburgerMenu span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    .hamburgerMenu input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: $dark-charcoal;
    }

    /*
 * But let's hide the middle one.
 */
    .hamburgerMenu input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    .hamburgerMenu input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    .menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: $dark-charcoal;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
 * And let's slide it in from the left
 */
    .hamburgerMenu input:checked~ul {
        transform: none;
    }
}