@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  background: #ECE9E3;
  font-family: 'Abril Fatface',
  cursive;
  color: #333333;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 2%;
  font-size: 5rem;
}