@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.navbar {
    display: grid;
    min-height: 3rem;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    padding: 0 40px;
    background: #333333;
    color: #fff;
    font-family: 'Montserrat',
    sans-serif;
}

.sticky {
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.icon {
    width: 100%;
}

.navItems {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 2%;
    color: #FFF;
    font-weight: bold;
}

.iconsContainerRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    width: 20%;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: #FFF;
}

