@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

nav {
    background: #333333;
}

.navContent {
    display: flex;
    justify-content: space-between;
}

.navItems {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 2%;
    background: #333333;
    color: #FFF;
    font-family: 'Vollkorn',
    serif;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFF;
}

